/* .App {
  background-image: url("https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png");
  background-size: cover;
  background-repeat: no-repeat;
}
 */
 /* .App {
  background-image: url("https://img.freepik.com/premium-photo/stock-market-investment-cryptocurrency-conceptfinancial-investment_117255-1967.jpg?w=900");
  background-size:cover;
  background-repeat: no-repeat;
 
} */

