.dashboard-container {
  display: flex;
}

.nav-links {
  
  width: 22%;
  background-color: black;
  height: 400vh;
 
}

.main-content {
  width: 100%;
  background-color: #78eff5;
  height: 400vh;
  
}


